<%- include('partials/header'); -%>

    <h1>Home</h1>
    <p>
        <%= startContent %>
    </p>

    <% posts.forEach((item)=> { %>
        <h2>
            <%= item.title %>
        </h2>
        <p>
            <%= item.content %>
        </p>
        <% if (item.content.length> 100) { %>
            <a href="/posts/<%= item.title %>">Read More</a>
            <% } %>
                <% }); %>
                    <%- include('partials/footer'); -%>